.container2 {
    padding-top: 3%;
    display: flex;
    flex-direction: column;
}

.content {
    margin-top: 25px;
    height: 70vh;
    border-radius: 2%;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.valores {
    display: flex;
    margin-top: 20px;
}

.imagem {
    margin-top: 4%;
    margin-left: 5%;
}

.imagem > img {
    width: 300px;
    height: 300px;
}

.price > h6 {
    font-weight: 900;
    margin-left: 120px;
}

.valueDescription > h6{
    font-weight: 900;
}

.descriptionOfHotel {
    margin-top: 4%;
    max-width: 900px;
    margin-left: 100px;
}

.descriptionOfHotel > p {
    font-size: 20px;
}

.buttonAcomodacao {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.touchButton {
    background-color: black;
    color: white;
    border: none;
    width: 600px;
    height: 60px;
    border-radius: 10px;
}

.star {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}


.addToFavoritesButton {
    margin-top: 40px;
    margin-left: 45px;
    background-color: #ff6b6b; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto no botão */
    border: none; /* Remova a borda do botão */
    padding: 10px 20px; /* Espaçamento interno do botão */
    border-radius: 5px; /* Borda arredondada */
    cursor: pointer; /* Cursor de mão ao pairar sobre o botão */
    font-size: 16px; /* Tamanho da fonte */
    transition: background-color 0.3s ease; /* Transição suave na cor de fundo */
  
    /* Estilos ao pairar sobre o botão */
    &:hover {
      background-color: #e74c3c; /* Cor de fundo alterada ao pairar */
    }
  }
  
  .addToFavoritesButton:focus {
    outline: none; /* Remove a borda de foco ao clicar no botão */
  }